# SQL : Between &  Not Between

In [1]:
import numpy as np
import pandas as pd

In [2]:
import pandasql as ps
import sqlite3

### Example : Using PandaSQL

In [3]:
transactions = pd.DataFrame(
    {"date":["2020-01-01","2020-02-02","2020-03-03","2020-04-04","2020-05-05","2020-06-07",
             "2020-07-08",
             "2020-11-24","2020-11-28","2020-12-01","2020-12-04","2020-12-15","2020-12-28"], 
     "consumption": [35,60,30,35,55,90,
                     5,
                     50,100,100,10,50,10],
    "bag":['ch','hb','ch','hb','mk','zn',
           'ks',
           'mk','mk','mk','ks','mk','hb']}
)

In [4]:
transactions

          date  consumption bag
0   2020-01-01           35  ch
1   2020-02-02           60  hb
2   2020-03-03           30  ch
3   2020-04-04           35  hb
4   2020-05-05           55  mk
5   2020-06-07           90  zn
6   2020-07-08            5  ks
7   2020-11-24           50  mk
8   2020-11-28          100  mk
9   2020-12-01          100  mk
10  2020-12-04           10  ks
11  2020-12-15           50  mk
12  2020-12-28           10  hb

Use `BETWEEN` : Holiday Sales

In [5]:
q = """ 
    WITH f1 AS (
    SELECT 
    bag,
    SUM(consumption) as  holiday_sale 
    FROM transactions
    WHERE date BETWEEN '2020-11-24' AND '2020-12-15'
    GROUP BY bag)
    SELECT * FROM f1;
    """
ps.sqldf(q)

  bag  holiday_sale
0  ks            10
1  mk           300

Use `NOT BETWEEN` : Non-holiday Sales

In [6]:
q = """
    WITH f2 AS(
    SELECT
    bag, 
    SUM(consumption) as  nonholiday_sale
    FROM transactions
    WHERE date NOT BETWEEN '2020-11-24' AND '2020-12-15'
    GROUP BY bag)
    SELECT * FROM f2;
    """
ps.sqldf(q)

  bag  nonholiday_sale
0  ch               65
1  hb              105
2  ks                5
3  mk               55
4  zn               90

### Example : Using Sqlite3

In [7]:
conn = sqlite3.connect(':memory:')

transactions.to_sql('transTable', conn)

13

Use `BETWEEN` : Holiday Sales

In [8]:
myquery = """ 
WITH f1 AS (
SELECT 
bag,
SUM(consumption) as  holiday_sale 
FROM transTable
WHERE date BETWEEN '2020-11-24' AND '2020-12-15'
GROUP BY bag)
SELECT * FROM f1
"""
pd.read_sql(myquery,conn)

  bag  holiday_sale
0  ks            10
1  mk           300

Use `NOT BETWEEN` : Non-holiday Sales

In [9]:
myquery = """
WITH f2 AS(
SELECT
bag, 
SUM(consumption) as nonholiday_sale
FROM transTable
WHERE date NOT BETWEEN '2020-11-24' AND '2020-12-15'
GROUP BY bag)
SELECT * FROM f2
"""
pd.read_sql(myquery,conn)

  bag  nonholiday_sale
0  ch               65
1  hb              105
2  ks                5
3  mk               55
4  zn               90