# SQL : Self-Join

In [1]:
import pandas as pd
import numpy as np

In [2]:
import sqlite3

### Example 

Find `employee id` of managers from the table containing emplyees and managers

In [3]:
dataDict =  {
    'empid' : [1,2,3,4,5],
    'employee':['a','b','c','d','e'],
    'manager':['b','f','b','b','d']
}
df = pd.DataFrame(dataDict)
df

   empid employee manager
0      1        a       b
1      2        b       f
2      3        c       b
3      4        d       b
4      5        e       d

In [4]:
conn = sqlite3.connect(':memory:')
df.to_sql('employeeTable', conn)

5

In [5]:
myquery="""
WITH f1 as
(SELECT 
empid,
employee  
FROM employeeTable),
f2 as
(SELECT 
manager as manager
FROM employeeTable)
SELECT
f2.manager,
f1.empid as empid
FROM f2
LEFT JOIN f1
ON f2.manager = f1.employee 
""" 
pd.read_sql(myquery, conn)

  manager  empid
0       b    2.0
1       f    NaN
2       b    2.0
3       b    2.0
4       d    4.0

In [6]:
conn.close()